*{
	padding: 0;
	margin: 0;
}

#sidebar {
	align-items: left;
	width: 60px;
	height: 500px;
	background-color: gold;
	border-radius: 0;
	border: none;
	position: relative;
	display: inline-block;
	font-size: 20px;
}

#sidebar:hover {
	background-color: orange;
	cursor: crosshair;
}

#openbar {

	position: absolute;
	top: 0px;
	left:60px;
	background-color: lightblue;
	width: 0px;
	height: 500px;
	overflow: auto;
	transition: 2s;
}

#openbar p {
	font-size: 30px;
	font-weight: bold;
	font-family: helvetica;
}

.show {
	height: 500px;
	width: 1200px;
}

#countdown {
	position: absolute;
	display: inline-block;
	margin-left: 300px;
	top: 100px;
	font-size: 50px;
	font-family: impact;
	color: red;

}

#countdown p {
	font-size: 40px;
	font-weight: bold;
	color: pink;
}

#another {
	position: absolute;
	display: inline-block;
	margin-left: 300px;
	top: 300px;
	font-size: 50px;
	font-family: impact;
	color: red;

}

#another p {
	font-size: 40px;
	font-weight: bold;
	color: pink;
}

